.navbar{
    background-color: #232329;
    height: 80px;
}
.text-title{
    font-size: 30px;
    color: azure;
}
.text-color-custom{
    color: #ffffff;
    font-size: 20px;
}
.text-color-custom:hover{
    color: #41c9c9;
    font-size: 21px;
}
.text-color-custom:focus{
    color: #41c9c9;
    font-size: 21px;
}
.main-custom{
    background-image: url(images/estacionamiento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: auto;
}
.main-custom, a {
    color: #ffffff;
    font-size: 20px;
}