
#navbarNav{
    margin-right: 100px;
}


#barranavegacion{
    background-color: rgb(210, 214, 215);
    border: 1px solid rgb(0, 0, 0);
    margin: 60px;
    
}
#piedepagina{
    background-color: rgb(210, 214, 215);
    
    margin: 60px;
}