
#navbarNav{
    margin-right: 100px;
}


#barranavegacion{
    background-color: rgb(210, 214, 215);
    border: 1px solid rgb(0, 0, 0);
    margin: 60px;
    
}
#piedepagina{
    background-color: rgb(210, 214, 215);
    
    margin: 60px;
}
.fondo{
    background-image: url(images/cars2.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-color-custom {
    color: #fff;
}
.text-color-custom:hover {
    color: #55d1da;
}
.text-color-custom:focus {
    color: #55d1da;
}